<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="../stylesheets/normalize.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <script src="../javascripts/main.js"></script>
</head>

<body>
  <div id="container">
    <div id="head">
      <div id="logo-name">
        <img src="../logo/logoSymbol128.svg" id="logo">
        <div id="name">Joppe Koers.nl</div>
      </div>
    </div>

    <div id="menu">
      <div id="home"> <%= home %></div>
      <div id="projects"><%= projects %></div>
      <div id="guestProjects"><%= guestProjects %></div>
      <div id="wolmolen"><%= wolmolen %></div>
      <div id="ictInDeWolken"><%= ictInDeWolken %></div>
    </div>

    <div id="mid1">
      <%- mid1 %>
    </div>

    <div id="footer">
      <div id="copyright">
        &copy; 2018 Joppe Koers
      </div>
    </div>
</body>

</html>
