<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="google" content="notranslate">
  <meta name="description" content="This is a webside made, hosted and maintened by Joppe Koers">
  <meta name="keywords" content="Joppe Koers, Portfolio, softwareProjects">
  <meta name="author" content="Joppe Koers">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="../stylesheets/normalize.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <script src="../javascripts/main.js"></script>
  <!-- <script src="../javascripts/socket.io.min.js"></script> -->
</head>

<body>
  <div id="container">
    <div id="head">
      <div id="logo-name">
        <img src="../logo/logoSymbol128.svg" id="logo">
        <div id="name">Joppe Koers.nl</div>
      </div>
    </div>

    <div id="menu">
      <a href="/home">
        <div id="home">
          <%= home %>
        </div>
      </a>

      <a href="/projects">
        <div id="projects">
          <%= projects %>
        </div>
      </a>

      <a href="/guestProjects">
        <div id="guestProjects">
          <%= guestProjects %>
        </div>
      </a>

      <a href="/wolmolen">
        <div id="wolmolen">
          <%= wolmolen %>
        </div>
      </a>

      <a href="/softwareProjects">
        <div id="softwareProjects">
          <%= softwareProjects %>
        </div>
      </a>
    </div>

    <div id="mid1">
      <% partials.forEach(function(partial){ %>
      <%- include(partial)-%>
      <% }); %>

    </div>

    <div id="footer">
      <div id="copyright">
        &copy; 2018 Joppe Koers
      </div>
    </div>
  </div>
</body>

</html>
